@import url("https://use.typekit.net/nxz7lfh.css");
/*font-family: "swear-display", serif;
font-weight: 800;
font-style: normal;*/
@import url("https://use.typekit.net/ewk5txo.css");
/*font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header .logo {
  color: #194027;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding-right: 25%;
  font-size: 30px;
}
header .barra {
  background-color: #efdaa4;
}
header .navbar-toggler {
  background-color: #759f84;
}
header .nav-link {
  color: #194027 !important;
  font-size: 25px;
  font-family: "neue-haas-grotesk-display", sans-serif !important;
}

main .container-fluid {
  background-color: antiquewhite;
}
main .nright {
  background-image: url(../images/primer-photo.jpg);
  background-size: cover;
  height: 880px;
}
main h1 {
  color: #194027;
  font-family: "swear-display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 0;
  line-height: 40%;
}
main h2 {
  color: #194027;
  font-family: "swear-display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  padding-top: 0%;
}
main p {
  color: #194027;
  font-family: "swear-display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  padding-top: 290px;
  text-align: center;
}

footer {
  background-color: #efdaa4;
  color: #194027;
  text-align: center;
}

.derechos {
  color: #194027;
  padding-top: 0%;
  font-size: 15px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

footer a {
  color: #194027;
  text-align: center;
}

.redes {
  letter-spacing: 10px;
  text-align: center;
}

.contactoinicio {
  color: #194027;
}

form {
  padding: 40px;
}

.galeria {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  padding: 20px;
  grid-gap: 15px;
  font-family: "swear-display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  text-decoration-color: #194027;
  text-align-last: center;
  text-shadow: 0 0 5px #000;
  color: #efdaa4;
}
.galeria .img {
  background-color: blueviolet;
  border: 2px solid #000;
  background-size: cover;
  background-position: center;
  filter: sepia(100%);
  transition: all 0.9s;
}
.galeria .img:hover {
  transform: scale(1.05);
  filter: sepia(0%);
}
.galeria .img1 {
  background-image: url(../images/Newyork.jpg);
}
.galeria .img2 {
  background-image: url(../images/algarve.jpg);
}
.galeria .img3 {
  background-image: url(../images/ecua.jpg);
}
.galeria .img4 {
  background-image: url(../images/cuba.jpg);
}
.galeria .img5 {
  background-image: url(../images/hawai.jpg);
}
.galeria .img6 {
  background-image: url(../images/peru.jpg);
}
.galeria .img7 {
  background-image: url(../images/london3.jpg);
}
.galeria .img8 {
  background-image: url(../images/ams1.jpg);
}
.galeria .img9 {
  background-image: url(../images/canada.jpg);
}

@media only screen and (min-width: 767px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
  }
  .img1 {
    background-image: url(../images/Newyork.jpg);
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .img2 {
    background-image: url(../images/algarve.jpg);
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .img3 {
    background-image: url(../images/ecua.jpg);
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .img4 {
    background-image: url(../images/cuba.jpg);
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .img5 {
    background-image: url(../images/hawai.jpg);
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .img6 {
    background-image: url(../images/peru.jpg);
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .img7 {
    background-image: url(../images/london3.jpg);
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .img8 {
    background-image: url(../images/ams1.jpg);
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .img9 {
    background-image: url(../images/canada.jpg);
    grid-column: 4/5;
    grid-row: 3/4;
  }
}
.nleft2 {
  background-image: url(../images/foto-about.png);
  background-size: cover;
  background-position: center;
  height: 700px;
  filter: grayscale(100%);
}

h3 {
  color: #194027;
  font-family: "swear-display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  padding-bottom: 50px;
  padding-top: 50px;
  animation-duration: 2s;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-direction: alternate;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p2 {
  color: #194027;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

.main {
  background-color: antiquewhite;
  border: 5px none black;
  height: 300px;
  padding-top: 100px;
  padding-bottom: 600px;
  text-align: center;
  font-size: 22px;
  font-family: "neue-haas-grotesk-display", sans-serif;
}
.main h4 {
  color: #194027;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  padding-top: 390px;
  text-align: center;
}
.main h5 {
  color: #194027;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

.aside2 {
  background-color: antiquewhite;
  border: 5px none #000;
  height: 500px;
  color: #194027;
}
.aside2 form {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: #194027;
  padding-top: 15%;
}

body {
  background-color: antiquewhite;
}
body .carousel-inner {
  transform: scale(0.7);
  margin: 0%;
}

/*# sourceMappingURL=style.css.map */
